dist: trusty
sudo: required

before_install:
  - sudo apt update
  - sudo apt install --yes qemu-system-x86 ipxe-qemu sshpass
  - sudo mkdir -p /etc/qemu/
  - echo 'allow all' | sudo tee /etc/qemu/bridge.conf
  - wget https://coinboot.io/releases/20180816_4.4.0-133-generic/initramfs -P ./tftpboot
  - wget https://coinboot.io/releases/20180816_4.4.0-133-generic/vmlinuz -P ./tftpboot
script:
  - sudo docker-compose -f docker-compose_travisci.yml up -d
    # This line can be used for debugging Qemu iPXE purposes.
    # - sudo qemu-system-x86_64 -m 2048 -smp 2 -serial mon:stdio -curses -boot n -net nic,model=e1000 -net bridge,br=$(ip a|grep 192.168.1.1/24 | grep -oP br-.*)
  - sudo qemu-system-x86_64 -m 2048 -smp 2 -display none -daemonize -boot n -net nic,model=e1000 -net bridge,br=$(ip a|grep 192.168.1.1/24 | grep -oP br-.*)
  - while ! nc -z 192.168.1.10 22; do echo 'Waiting for Coinboot machine to listen on port 22/SSH ...'; sleep 10; done
  - sshpass -p ubuntu ssh -v -o StrictHostKeyChecking=no ubuntu@192.168.1.10 cat /etc/lsb-release
