[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
strictyaml = "*"
boto3 = "*"
docopt = "*"
tabulate = "*"

[dev-packages]

[requires]
python_version = "3.8"
