[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
strictyaml = "*"
boto3 = "*"
docopt = "*"
tabulate = "*"
black = "==21.12b0"

[dev-packages]

[requires]
python_version = "3"
