---
version: '3'

services:
  coinboot:
    container_name: coinboot-debirf
    image: ubuntu:22.04
    volumes:
      - ./:/mnt
    command: /bin/bash /mnt/create_rootfs_and_kernel
    environment:
      VERSION: $VERSION
      RELEASE: $RELEASE
      DEBIRF_KERNEL: $KERNEL
      DEBIRF_SUITE: $SUITE
    privileged: true
